{% extends 'users/base.html' %}


{% block head %}
    <title>输入邮箱地址发送邮件找回密码</title>
{% endblock head %}

{% block content %}
    <div class="box">
        <h1 class="is-uppercase has-text-centered has-text-weight-bold is-size-2">Login
            <br><span class="tag">请输入注册邮箱</span>
            </h1>
            <hr class=" dropdown-divider">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.errors }}
                <input style="margin-top: 1em" type="submit" value="提交" class="button is-link is-fullwidth">
            </form>
    </div>
{% endblock content %}